# استثناء ملفات إعدادات Odoo
*.conf

# استثناء الملفات المؤقتة
*.tmp
*.swp
*.swo

# استثناء ملفات الإخراج والتسجيلات
*.log
logs/
odoo.log
*.csv
*.xlsx

# استثناء الملفات التي تُنشأ تلقائيًا بواسطة Odoo
addons/*
addons/*/*
addons/*/*/static/lib/
__pycache__/
*.pyc
*.pyo
*.pyd

# استثناء بيئة العمل الافتراضية لـ Python
venv/
.env
env/
*.env

# استثناء المكتبات الخارجية
node_modules/
bower_components/

# استثناء الملفات والمجلدات المؤقتة
.idea/
.vscode/
*.DS_Store
*.egg-info/
dist/
build/
.tmp/

# استثناء ملفات الترجمة المؤقتة
i18n/*.pot
i18n/*.mo
i18n/*.po~

# استثناءات Git
!.gitignore

